* {
    margin: 0;
    padding: 0;
}


header {
    width: 100vw;
    /* border: 3px solid black; */
}

ul {
    display: flex;
    list-style: none;
}

#tts {
    position: relative;
    left: 3vw;
    height: 4vw;
    width: 17vw;
}

#logoimg {
    width: 303px;
    height: 73px;
    padding: 10px;
}

#downtext {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #6cb5ff;
    font-size: 2.3em;
}

#right_content {
    display: flex;
    flex-direction: column;
    margin: 0px 0vw 0px 25vw;
}

#right_content #logoimg {
    align-self: flex-end;
}

.body_main {
    width: 100vw;
    height: 100vh;
    background-color: #fff7ee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body_main #content {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    border: 2px solid red;
    border-radius: 20px;
    border: 1px solid #CCC;
    background: white;
    height: 80vh;
    width: 60vw;
}

#head {
    text-align: center;
    font-weight: 40;
    padding: 15px
}

#flagimg {
    width: 179px;
    height: 109px;
    padding: 10px;
}

#middel_content {
    padding: 10px;
    display: flex;
}

#con {
    padding: 10px;
}

#do {
    padding: 10px;
}

#like_button {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    height: 60px;
    width: 360px;
    position: relative;
    left: 15vw;
    background-color: #bfdeff;
    border-radius: 20px;
    border-style: none;
}

#like_do {
    text-align: center;
}

#footerofmainbody {
    padding: 10px;
}

#search_down {
    /* border-style: none; */
    border-radius: 10px;
    border-style: none;
    text-align: center;
    background-color: rgb(215, 237, 237);
}

#footerofmainbody {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 10px;
    column-gap: 260px;
}

.text_video_button {
    color: white;
    background-color: rgb(85, 131, 232);
    width: 150px;
    border-radius: 10px;
    border-style: none;
    height: 50px;
    cursor: pointer;
}